# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Django
*.sqlite3
db.sqlite3
media/

# Environment files
.env

# React
frontend/node_modules/
frontend/build/
frontend/dist/

# VS Code
.vscode/